<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Client.Data.Options" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Client.Data.Class.Options" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IWCFService" maxBufferSize="2097152" maxBufferPoolSize="2097152"  maxReceivedMessageSize="2097152" >
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IDownloadService" transferMode="Streamed"
 maxBufferPoolSize="2097152" maxBufferSize="2097152" maxReceivedMessageSize="2147483647" sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://25.78.76.9:904/1" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IWCFService" contract="Service.IWCFService"
        name="NetTcpBinding_IWCFService" />
      <endpoint address="net.tcp://25.78.76.9:904/2" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IDownloadService" contract="Service.IDownloadService"
        name="NetTcpBinding_IDownloadService" />
    </client>
  </system.serviceModel>

  <applicationSettings>
    <Client.Properties.Settings>
      <setting name="ImageSource" serializeAs="String">
        <value>C:\Users\p4shark\Desktop\MTPProject-master\Client\Client\Images</value>
      </setting>
    </Client.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Client.Data.Options>
      <setting name="localUN" serializeAs="String">
        <value />
      </setting>
      <setting name="localPW" serializeAs="String">
        <value />
      </setting>
    </Client.Data.Options>
    <Client.Data.Class.Options>
      <setting name="localUN" serializeAs="String">
        <value />
      </setting>
      <setting name="localPW" serializeAs="String">
        <value />
      </setting>
    </Client.Data.Class.Options>
  </userSettings>
</configuration>